ipdb
ipython
plotly
matplotlib
seaborn 
pandas
numpy 
scipy 
sklearn 
python-dateutil 
#xgboost 
pyarrow 
ipykernel 
jupyter 
matplotlib-label-lines 
jupyter_contrib_nbextensions 
beautifulsoup4
jsonify
#json
charset-normalizer
